Bootstrap_Flask==2.2.0
Flask==2.3.2
Flask_WTF==1.1.1
WTForms==3.0.1

replit~=3.3.1
requests~=2.31.0
pandas~=2.0.3
pygame~=2.5.1
selenium~=4.11.2
prettytable~=3.8.0
beautifulsoup4~=4.12.2
Pillow~=10.0.0
spotipy~=2.23.0
pyperclip~=1.8.2
numpy~=1.25.2